<!DOCTYPE html>
<html>
<head>
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' >
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #663399;">
      <a class="navbar-brand" href="/">Jirani</a>
     <form class="search-section" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="search" name = 'business' placeholder="Search" aria-label="Search">
        <button type="submit" id="searchsubmit" />
             <span class="icon"><i class="fa fa-search"></i></span>
        </button>
      </form>
      <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}

            <h3><a class='btn btn-default' href="/accounts/login">Login</a></h3>

            {% endif %}
      </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/hood/{{hood_name.id}}">MY HOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">Update Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addbiz">Add Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newpost">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newhood">Add Neighbour Hood</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/communities">Change Hoods</a>
      </li>
    </ul>
        </div>
  </nav>
</html>